<h3>Index</h3>

<ul>
  <% @flats.each do |flat|%>
    <li><%= link_to "#{flat.name}", flat_path(flat) %></li>
  <% end %>
</ul>

<%= link_to "Add new flat", new_flat_path %>

<br>
<br>

<div>
  Current user is : <%= current_user.nil? ? "No one is connected" : current_user.email %>
  <br>
  <% unless current_user.nil? %>
    <%= link_to "Disconect user", destroy_user_session_path, method: :delete %>
  <% end %>
</div>
